<!DOCTYPE html>
<html lang="en">

<head>
    <!-- 网页文档属性、相关信息（meta, data of data） -->
</head>

<body>
    <!-- 导航栏 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}">返回首页</a>
            </li>
        </ul>
    </nav>

    <!-- Flash 消息 -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="container">
        {% for message in messages %}
        <div class="alert alert-{{ message[1] }}" role="alert">{{ message}}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <!-- 注册表单 -->
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class_="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(class_="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class_="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.pass_confirm.label }}
            {{ form.pass_confirm(class_="form-control form-control-lg") }}
        </div>
        {{ form.submit(class_="btn btn-primary btn-lg") }}
    </form>
</body>

</html>